body{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  /* height: 100vh; */
  /* background-color: white; */
  display: flex;
  flex-direction: column;
}
/*Global*/
.container{
  width: 80%;
  margin: auto;
  /* overflow:hidden; */
}
ul{
  margin: 0;
  padding: 0;
}
.highlight{
  color: orange;
}
.button_1{
  height: 38px;
  background: orange;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: white;

}
.dark{
  padding: 15px;
  background: darkgreen;
  color: white;
  margin-top: 10px;
  margin-bottom:10px;
}
nav {
  background: darkgreen;
  font-family: Arial,Geneva,sans-serif;
  min-height: 15vh;
  font-weight: bold;
  border-bottom:orange 3px solid;
}
nav .navbar-nav li a {
  font-size:18PX;;
  padding: 0;
  margin: 0;
}   
.active a{
  color: orange;
  font-weight: bold;
}
/* nav a:hover{
  color: white;
  font-weight: bold;
} */
/*showcase*/

 #showcase{
  min-height: 400px;
  text-align: center;
  color:black;
  background: url('../img/downloadfile-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: bold;
}

#showcase h1{
  margin-top: 30px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 20px;

}
#newsletter{
  padding: 15px;
  color:white;
  background: darkgreen;
}
#newsletter h1{
  float: left;
  font-size: 28px;

}
#newsletter form{
  float: right;
  margin-top: 15px;
}
#newsletter textarea{
  padding: 4px;
  height: 25px;
  width: 250px;
}
/*boxes*/

#boxes{
  margin-top: 10px;
}

#boxes .box{
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#boxes .box img{
  width: 90px;
}
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;

}
aside#contact{
  float: left;
  margin-top: 20px;
}
/*main-col*/

article#main-col{
  float: left;
  width: 65%;
}
/*services*/
ul#services li{
  list-style-type: none;
  padding: 20px;
  border:#cccccc solid 1px;
  margin-bottom:5px;
  background: #e6e6e6;
}
footer{
  margin-top: 20px;
  color: white;
  height: 3%;
  background-color: orange;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*media queries*/
@media(max-width: 768px){
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar,
  aside#contact{
    float: none;
    text-align: center;
    width: 100%;
  }

  nav{
    padding-bottom: 40px;
  }
  
  #showcase h1{
    margin-top: 20px;
    font-size: 45px;
  }
  #newsletter button, .quote button{
    display: block;
    width: 100%;
  }
  #newsletter form input, .quote textarea{
    width: 100%;
    margin-bottom: 5px;
  }
  footer p{
    font-size: 10px;
    padding-bottom: 9px;
  }
}
